__pycache__/PyInstallerGUI.cpython-36.pyc
PyInstallerGUI_beta/PyInstallerGUI.exe
PyInstallerGUI_beta/static/favicon.ico
PyInstallerGUI_beta/static/pyinstaller.exe
PyInstallerGUI_beta/static/pythonIcon.png
PyInstallerGUI_beta/templates/index.html
