@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.cBody{
	font-family: 'Noto Sans TC', sans-serif;
	background-image: linear-gradient(#FFF 0%, #CCC 50%);
}

.cMain{
	border: 2px solid rgb(33, 215, 137);
	border-radius: 0px 30px 0px 30px;
	background-color: rgb(49, 51, 53);
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
	margin-bottom: 20px;
}

.cTitle{
	color: rgb(225, 235, 226);
	font-size: 50px;
	font-weight: bolder;
	margin: 10px 0px 0px 0px;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.9),
	             0px 8px 13px rgba(0, 0, 0, 0.6),
	             0px 18px 23px rgba(0, 0, 0, 0.6);
}

.cBorder{
	border: 0px solid #000;
}

.cPathBlock{
	border-left: 5px solid rgb(49, 51, 53);
	margin: 15px 0px;
	width: 95%;
}
.cPathBlock:hover{
	border-left: 5px solid rgb(209, 223, 225);
	background-color: rgb(54, 56, 58);
	margin: 15px 0px;
	width: 95%;
}


.cItem{
	color: rgb(225, 235, 226);
	display: inline-block;
	font-size: 20px;
	text-align: right;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.9);
	margin-top: 9px;
	vertical-align: top;
	width: 17%;
}
.cListBlock{
	display: inline-block;
	vertical-align: middle;
	width: 78%;
}
.cInfoInput{
	border: 1px solid rgb(205, 205, 205);
	background-color: rgb(102, 106, 111);
	border-radius: 5px;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.9);
	display: inline-block;
	font-size: 18px;
	height: 35px;
	margin: 3px;
	vertical-align: middle;
	width: 75%;
	color: rgb(205, 205, 205);
}
.cOptionDiv{
	display: inline-block;
	font-size: 20px;
	text-align: left;
	vertical-align: middle;
	width: 20%;
}
.cBtn{
	font-size: 30px;
	font-weight: bolder;
	color: rgb(33, 215, 137);
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
	line-height: 30px;

	display: inline-block;
	height: 35px;
	margin: 0px 2px;
	text-align: center;
	user-select: none;
	width: 35px;
}
.cBtn:hover{
	border-radius: 5px;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.9);
	background-color: rgb(79, 81, 83);
}
.cBtn:active{
	background-color: rgb(99, 101, 103);
}


.cOK{
	border: 1px solid rgb(49, 51, 53);
	color: rgb(102, 106, 111);
	font-size: 40px;
	line-height: 40px;
	border-radius: 10px;
	height: 50px;
	width: 50px;
	margin: 15px 0px;
	text-align: center;
	text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
	user-select: none;
	transition: all 0.2s ease-out 0.1s;
}
.cOK:hover{
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.9);
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.9);
	border: 1px solid rgb(33, 215, 137);
	background-color: rgb(69, 71, 73);
}
.cOK:active{
	background-color: rgb(89, 91, 93);
}

.cAdvanced{
	color: rgb(248, 198, 57);
	font-size: 18px;
	font-weight: lighter;
	display: inline-block;
	margin: 5px 5px;
	vertical-align: middle;
	text-align: right;
	width: 160px;
	border-right: 2px solid rgb(248, 198, 57);
	padding-right: 10px;
}
.cAdvancedAlignLeft{
	text-align: left;
	border-right: 0px solid rgb(248, 198, 57);
}
.cAdvancedInput{
	border: 1px solid #000;
	display: inline-block;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 15px;
	height: 25px;
	padding: 0px 5px;
	vertical-align: middle;
	width: 200px;
}

.cInfoFrame{
	text-align: left;
	left: 30px;
	bottom: 70px;
	position: fixed;
    border: 0px solid #00F;
    display: none;
    opacity: 1;
}
.cInfoFrame.hideTranslate{
    transition: 1s;
    opacity: 0 !important;
}

.cInfoTitle{
	position: relative;
	text-align: center;
	left: 0px;
	font-size: 22px;
	font-weight: bolder;
	color: rgb(248, 198, 57);
	background-color: #FFF;
    border: 5px solid rgb(248, 198, 57);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    width: 120px;
    z-index: 999;
}

.cInfo{
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
	font-size: 20px;
	color: rgb(0, 0, 0);
	padding: 15px;
	position: relative;
	top: -5px;
	background-color: #FFF;
    border: 5px solid rgb(248, 198, 57);
	width: 400px;
    z-index: -1;
    line-height: 35px;
    letter-spacing: 3px;
    word-break: break-all;
}
