<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PyInstaller GUI About</title>
	<script language=javascript>
		var languageNow = 'TW';

		function changeLanguage(languageSet){
			if( languageSet != null ){
				console.log(languageSet);
				languageNow = languageSet;
				var fso = new ActiveXObject(Scripting.FileSystemObject);
				// var f = fso.opentextfile('../static/language_server/'+languageNow+'.lang', 1, true);
				var f = fso.opentextfile('EN.lang', 1, true);
				var languagePack = f.ReadLine();
				f.close();
				console.log('languagePack:' + languagePack);
			}else{
				console.log('2');
			}
		}

		function showAbout(item, languagePack){
			switch(item){
				case 'aboutMe':
					window.parent.document.getElementById('iInfoTitle').innerHTML = languagePack['content_iInfoTitle_aboutme'];
					window.parent.document.getElementById('iInfo').innerHTML = languagePack['content_aboutme'];
					break;
				case 'Gmail':
					window.parent.document.getElementById('iInfoTitle').innerHTML = languagePack['content_iInfoTitle_gmail'];
					window.parent.document.getElementById('iInfo').innerHTML = languagePack['content_gmail'];
					break;
				case 'Blog':
					window.parent.document.getElementById('iInfoTitle').innerHTML = languagePack['content_iInfoTitle_blog'];
					window.parent.document.getElementById('iInfo').innerHTML = languagePack['content_blog'];
					break;
				case 'LinkedIn':
					window.parent.document.getElementById('iInfoTitle').innerHTML = languagePack['content_iInfoTitle_linkedin'];
					window.parent.document.getElementById('iInfo').innerHTML = languagePack['content_linkedin'];
					break;
				case 'GitHub':
					window.parent.document.getElementById('iInfoTitle').innerHTML = languagePack['content_iInfoTitle_github'];
					window.parent.document.getElementById('iInfo').innerHTML = languagePack['content_github'];
					break;
				case 'CopyOK':
					copyGmail();
					alert(languagePack['content_CopyOK']);
					break;
			}
		}

		function copyGmail(languagePack){
			var copyText = document.getElementById("iGmailText");
			copyText.select();
			document.execCommand("copy");
		}
	</script>

	<style>
		.cAbout{
			height: 25px;
			width: 25px;
			border: 0px solid #F00;
			display: inline-block;
			margin: 0px 15px;
			background-size: contain;
		    background-repeat: no-repeat;
		    background-position: center;
			transition: all 0.15s ease-out 0.1s;
			cursor: pointer; 
		}
		.cAbout:hover{
			height: 35px;
			width: 35px;
		}
	</style>
</head>

<body>
	<center>
		<div class="cAbout" 
			style="background-image:url('./static/Author.png')" 
			onmouseover="parent.window.showAbout('aboutMe')" 
			onmouseleave="parent.window.hideInfo()">
		</div>

		<div class="cAbout" 
			id='iGmail' 
			style="background-image:url('./static/Gmail.png')" 
			onclick="parent.window.showAbout('CopyOK')" 
			onmouseover="parent.window.showAbout('Gmail')" 
			onmouseleave="parent.window.hideInfo()">
		</div>

		<div class="cAbout" 
			style="background-image:url('./static/Blog.png');" 
			onclick="javascript:window.open('https://triplec-light.000webhostapp.com');" 
			onmouseover="parent.window.showAbout('Blog')" 
			onmouseleave="parent.window.hideInfo()">
		</div>

		<div class="cAbout" 
			style="background-image:url('./static/LinkedIn.png');" 
			onclick="javascript:window.open('https://www.linkedin.com/in/edward-chou-42058912a');" 
			onmouseover="parent.window.showAbout('LinkedIn')" 
			onmouseleave="parent.window.hideInfo()">
		</div>

		<div class="cAbout" 
			style="background-image:url('./static/GitHub.png');" 
			onclick="javascript:window.open('https://github.com/TripleC-Light');" 
			onmouseover="parent.window.showAbout('GitHub')" 
			onmouseleave="parent.window.hideInfo()">
		</div>

		<br><input type="text" value="triplec.light@gmail.com" id="iGmailText" style="opacity:0;">

	</center>
</body>
</html>
