<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/mainCSS.css">
	<script type="text/javascript" src="/static/createElement.js"></script>
	<title>PyInstaller GUI</title>
	<script language=javascript>
		var listItem = [['主程式','iMainPath'],
						['Import', 'iImportPath_0'],
						['資料', 'iDataPath_0'],
						['資料夾', 'iFolderPath_0']];
		var mainPath = '';
		var importPathList = [];
		var dataPathList = [];
		var folderPathList = [];
		var iconPath = '';

		$(document).ready(function (){
			init();
        });

        function init(){
        	listItem.forEach(function(item) {
				createPathBlock('mainDiv', item);
        	})
        }

		function btnProcess(id, action){
			idClass = id.split('_')[0];
			console.log('idClass: ' + idClass);
			clrBtn(id);
			if( idClass=='iMainPath'){
				if( action=='add' || action=='edit' ){
		        	newBtn(id, 'del');
		        	newBtn(id, 'edit');
		        	mainPath = document.getElementById(id+'_path').value;
				}else if( action=='del' ){
					newBtn(id, 'add');
				}
			}

			else if( idClass=='iImportPath' || idClass=='iDataPath' || idClass=='iFolderPath' ){
				var frameId = id.split('_')[0] + '_' + 0;
				var ind = id.split('_')[1];
				var pathList = [];
				pathList = getPathList(idClass);
				if( action=='add'){
		        	newBtn(id, 'del');
		        	newBtn(id, 'edit');
					pathList[pathList.length] = document.getElementById(id+'_path').value;
	        		var newId = idClass + '_' + pathList.length;
	        		console.log('newId: ' + newId);
					createPath(frameId+'_list', newId);
					createOption(frameId+'_list', newId);
					newBtn(newId, 'add');
				}else if( action=='edit' ){
		        	newBtn(id, 'del');
		        	newBtn(id, 'edit');
					pathList[ind] = document.getElementById(id+'_path').value;
				}else if( action=='del' ){
    				pathList[ind] = '';
					document.getElementById(frameId + '_list').removeChild(document.getElementById(id + '_path'));
					document.getElementById(frameId + '_list').removeChild(document.getElementById(id + '_option'));
				}
        		console.log(pathList);
        		savePathList(idClass, pathList);
			}

			else if( idClass=='iIcon' ){
				if( action=='add' || action=='edit' ){
		        	newBtn(id, 'del');
		        	newBtn(id, 'edit');
		        	iconPath = document.getElementById(id+'_path').value;
				}else if( action=='del' ){
					newBtn(id, 'add');
				}
			}
		}

		function editPath(id, action){
		    var xmlhttp;
		    xmlhttp=new XMLHttpRequest();
		    xmlhttp.onreadystatechange=function(){
		        if (xmlhttp.readyState==4 && xmlhttp.status==200){
					var result = JSON.parse(xmlhttp.responseText);
					if( result.path!='' ){
						console.log(id + "= " + result.path);
						document.getElementById(id+'_path').value = result.path;
						if( id=='iIcon' ){
							var iconName = document.getElementById(id+'_path').value;
							iconName = iconName.split('/');
							iconName = iconName[iconName.length-1];
							console.log(iconName);
							document.getElementById('iIconPic').src = '/static/tmpForPyInstaller/' + iconName;
						}
						btnProcess(id, action);
			        }
		        }
		    }
		    xmlhttp.open("GET","/getPath?cmd="+id,true);
		    xmlhttp.send();
		}

		function delPath(id){
			document.getElementById(id+'_path').value = '';
			console.log('delPath');
			btnProcess(id, 'del');
		}

		function clrBtn(id){
			if( document.getElementById(id + '_option') ){
				document.getElementById(id + '_option').innerHTML = '';
			}
		}

		function newBtn(id, action){
			var btnId = id + '_' + action + 'Btn';
			var btnParent = document.getElementById(id + '_option');
			var btn = document.createElement("div");
			btn.setAttribute("id", btnId);
			btn.setAttribute("class", "cBtn");
			switch(action){
				case 'add':
					btn.innerHTML = '+';
					btn.onclick= function(){ editPath(id, action) };
					break;
				case 'del':
					btn.innerHTML = '-';
					btn.onclick= function(){ delPath(id) };
					break;
				case 'edit':
					btn.innerHTML = 'E';
					btn.onclick= function(){ editPath(id, action) };
					break;
			}
			btnParent.appendChild(btn);
		}

		function getPathList(idClass){
			switch(idClass){
				case 'iImportPath':
					return importPathList;
				case 'iDataPath':
					return dataPathList;
				case 'iFolderPath':
					return folderPathList;
			}
		}
		function savePathList(idClass, pathList){
			switch(idClass){
				case 'iMainPath':
					importPathList = pathList;
					console.log('importPathList= '+importPathList);
					return;
				case 'iDataPath':
					dataPathList = pathList;
					console.log('dataPathList= '+dataPathList);
					return;
				case 'iFolderPath':
					folderPathList = pathList;
					console.log('folderPathList= '+folderPathList);
					return;
			}
		}
		function submit(){
			var allData = {
				fileName: '',
				folderName: '',
				optionList: [],
				mainPath: mainPath,
				importPathList: importPathList,
				dataPathList: dataPathList,
				folderPathList: folderPathList,
				iconPath: iconPath
			}

			allData.fileName = document.getElementById('iFileName').value;
			allData.folderName = document.getElementById('iFolderName').value;
			allData.optionList.push($("[name='oneFile']:checked").val());
			allData.optionList.push($("[name='clean']:checked").val());
			allData.optionList.push($("[name='command']:checked").val());
			var jsonToPC = JSON.stringify(allData);
			console.log(jsonToPC);

		    var xmlhttp;
		    xmlhttp=new XMLHttpRequest();
		    xmlhttp.onreadystatechange=function(){
		        if (xmlhttp.readyState==4 && xmlhttp.status==200){}
		    }
		    xmlhttp.open("GET","/submit?data="+jsonToPC,true);
		    xmlhttp.send();
		}
	</script>
</head>

<body class="cBody">
<center>
	<div class="cMain cBorder" style="width:650px;">
		<div id='mainDiv' class="cBorder">
			<div style='font-size:40px;font-weight:bolder;color:#F00'>PyInstaller GUI</div>
			<hr style="size:5px;width:95%;border-color:#000">
		</div>

		<div class='cPathBlock cBorder'>
			<div class="cItem cBorder">進階設定</div>
			<div id='iAdvanced_list' class='cListBlock cBorder'>
				<div class="cInfoInput cBorder" style='height:300px;width:95%;text-align:left;' id="iAdvanced_path">
					<div class="cAdvanced cBorder">&nbsp> 資料夾名稱:</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<input class='cAdvancedInput cBorder' type='text' id='iFolderName' placeholder="預設:PyInstaller"/>
					</div>

					<div class="cAdvanced cBorder">&nbsp> 執行檔名稱:</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<input class='cAdvancedInput cBorder' type='text' id='iFileName' placeholder="預設與原檔名一樣"/>
					</div>

					<div class="cAdvanced cBorder">&nbsp> 自訂 icon:</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<img id='iIconPic' src="/static/pythonIcon.png" border="" style="height:25px;width:25px;vertical-align:middle;" />
						<input class='cAdvancedInput cBorder' style='width:125px' dir='rtl' type='text' id='iIcon_path'/>
						<div id='iIcon_option' class='cOptionDiv cBorder' style='width:auto'>
							<div id='iIcon_addBtn' class="cBtn" onclick="editPath('iIcon', 'add')">+</div>
						</div>
					</div>

					<div class="cAdvanced cBorder">&nbsp> 生成單一執行檔?</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<input type="radio" name="oneFile" value='-F' checked="true"/>是
						<input type="radio" name="oneFile" value='' />否</div>

					<div class="cAdvanced cBorder">&nbsp> 清除前次生成檔</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<input type="radio" name="clean" value='--clean' checked="true"/>是
						<input type="radio" name="clean" value='' />否</div>

					<div class="cAdvanced cBorder">&nbsp> 顯示命令視窗</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<input type="radio" name="command" value='-c' checked="true"/>是
						<input type="radio" name="command" value='-w' />否</div>

				</div>
				<div id='iMainPath_option' class='cOptionDiv cBorder' style="width:0%"></div>
			</div>
		</div>

		<div class="cBorder" style="width:95%;margin:15px 0px;">
			<div class="cOK" onclick="submit()">執　行</div>
		</div>
		<br>
	</div>
</center>
</body>
</html>
