<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PyInstaller GUI</title>
	<style type="text/css">
		@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
		.cBody{
		    font-family: 'Noto Sans TC', sans-serif;
		    background: #EEE;
		}
		.cBorder{
			border: 0px solid #00F;
		}
		.cPathBlock{
			margin: 15px 0px;
			width: 95%;
		}
		.cItem{
			display: inline-block;
			font-size: 20px;
			text-align: right;
			margin-top: 9px;
			vertical-align: top;
			width: 15%;
		}
		.cListBlock{
			display: inline-block;
			vertical-align: middle;
			width: 80%;
		}
		.cInfoInput{
			border: 2px solid #F00;
			display: inline-block;
			font-size: 20px;
			height: 35px;
			margin: 3px;
			vertical-align: middle;
			width: 75%;
		}
		.cOptionDiv{
			display: inline-block;
			font-size: 20px;
			text-align: left;
			vertical-align: middle;
			width: 20%;
		}
		.cBtn{
			border: 1px solid #F00;
			border-radius: 15px;
			color: #F00;
			display: inline-block;
			font-size: 20px;
			height: 30px;
			margin: 0px 2px;
			text-align: center;
			user-select: none;
			width: 30px;
		}
		.cOK{
			border: 2px solid #F00;
			border-radius: 20px;
			color: #F00;
			font-size: 30px;
			height: 40px;
			margin: 15px 0px;
			text-align: center;
			user-select: none;
			width: 50%;
		}
		.cAdvanced{
			display: inline-block;
			margin: 5px 0px;
			vertical-align: middle;
			width: 200px;
		}
		.cAdvancedInput{
			border: 1px solid #000;
			display: inline-block;
			font-family: 'Noto Sans TC', sans-serif;
			font-size: 15px;
			height: 25px;
			padding: 0px 5px;
			vertical-align: middle;
			width: 200px;
		}
	</style>

	<script language=javascript>
		var listItem = [['主程式','iMainPath'],
						['Import', 'iImportPath_0'],
						['資料', 'iDataPath_0'],
						['資料夾', 'iFolderPath_0']];
		var mainPath = '';
		var importPathList = [];
		var dataPathList = [];
		var folderPathList = [];

		$(document).ready(function (){
			init();
        });

        function init(){
        	listItem.forEach(function(item) {
				createPathBlock('mainDiv', item);
        	})
        }

		function btnProcess(id, action){
			idClass = id.split('_')[0];
			console.log('idClass: ' + idClass);
			clrBtn(id);
			if( idClass=='iMainPath' ){
				if( action=='add' || action=='edit' ){
		        	newBtn(id, 'del');
		        	newBtn(id, 'edit');
		        	mainPath = document.getElementById(id+'_path').value;
				}else if( action=='del' ){
					newBtn(id, 'add');
				}
			}

			else if( idClass=='iImportPath' || idClass=='iDataPath' || idClass=='iFolderPath' ){
				var frameId = id.split('_')[0] + '_' + 0;
				var ind = id.split('_')[1];
				var pathList = [];
				pathList = getPathList(idClass);
				if( action=='add'){
		        	newBtn(id, 'del');
		        	newBtn(id, 'edit');
					pathList[pathList.length] = document.getElementById(id+'_path').value;
	        		var newId = idClass + '_' + pathList.length;
	        		console.log('newId: ' + newId);
					createPath(frameId+'_list', newId);
					createOption(frameId+'_list', newId);
					newBtn(newId, 'add');
				}else if( action=='edit' ){
		        	newBtn(id, 'del');
		        	newBtn(id, 'edit');
					pathList[ind] = document.getElementById(id+'_path').value;
				}else if( action=='del' ){
    				pathList[ind] = '';
					document.getElementById(frameId + '_list').removeChild(document.getElementById(id + '_path'));
					document.getElementById(frameId + '_list').removeChild(document.getElementById(id + '_option'));
				}
        		console.log(pathList);
        		savePathList(idClass, pathList);
			}
		}

		function editPath(id, action){
		    var xmlhttp;
		    xmlhttp=new XMLHttpRequest();
		    xmlhttp.onreadystatechange=function(){
		        if (xmlhttp.readyState==4 && xmlhttp.status==200){
					var result = JSON.parse(xmlhttp.responseText);
					if( result.path!='' ){
						console.log(id + "= " + result.path);
						document.getElementById(id+'_path').value = result.path;
						btnProcess(id, action);
			        }
		        }
		    }
		    xmlhttp.open("GET","/getPath?cmd="+id,true);
		    xmlhttp.send();
		}

		function delPath(id){
			document.getElementById(id+'_path').value = '';
			console.log('delPath');
			btnProcess(id, 'del');
		}

		function clrBtn(id){
			document.getElementById(id + '_option').innerHTML = '';
		}

		function newBtn(id, action){
			var btnId = id + '_' + action + 'Btn';
			var btnParent = document.getElementById(id + '_option');
			var btn = document.createElement("div");
			btn.setAttribute("id", btnId);
			btn.setAttribute("class", "cBtn");
			switch(action){
				case 'add':
					btn.innerHTML = '+';
					btn.onclick= function(){ editPath(id, action) };
					break;
				case 'del':
					btn.innerHTML = '-';
					btn.onclick= function(){ delPath(id) };
					break;
				case 'edit':
					btn.innerHTML = 'E';
					btn.onclick= function(){ editPath(id, action) };
					break;
			}
			btnParent.appendChild(btn);
		}

		// Struct show below: 
		// <div class='cPathBlock cBorder'>
		// 	<div class="cItem cBorder">主程式</div>
		// 	<div id='iMainPath_list' class='cListBlock cBorder'>
		// 		<input class="cInfoInput cBorder" type="text" id="iMainPath_path" dir='rtl' value=''/>
		// 		<div id='iMainPath_option' class='cOptionDiv cBorder'>
		// 			<div id='iMainPath_addBtn' class="cBtn" onclick="addPath('iMainPath')">+</div>
		// 		</div>
		// 	</div>
		// </div>
		function createPathBlock(parent, item){
			var id = item[1];
			createFrame(parent, id);
			createItem(id+'_frame', item);
			createListDiv(id+'_frame', id);

			createPath(id+'_list', id);
			createOption(id+'_list', id);
			newBtn(id, 'add');
		}
		function createFrame(parent, id){
			var blockId = id + '_frame';
			var parent = document.getElementById(parent);
			var block = document.createElement('div');
			block.setAttribute("id", blockId);
			block.setAttribute('class', 'cPathBlock cBorder');
			parent.appendChild(block);
		}
		function createListDiv(parent, id){
			var blockId = id + '_list';
			var parent = document.getElementById(parent);
			var block = document.createElement('div');
			block.setAttribute("id", blockId);
			block.setAttribute('class', 'cListBlock cBorder');
			parent.appendChild(block);
		}
		function createItem(parent, item){
			var id = item[1];
			var blockId = id + '_item';
			var parent = document.getElementById(parent);
			var block = document.createElement('div');
			block.setAttribute("id", blockId);
			block.setAttribute('class', 'cItem cBorder');
			block.innerHTML = item[0];
			parent.appendChild(block);
		}
		function createPath(parent, id){
			var blockId = id + '_path';
			var parent = document.getElementById(parent);
			var block = document.createElement('input');
			block.setAttribute("id", blockId);
			block.setAttribute('class', 'cInfoInput cBorder');
			block.setAttribute('type', 'text');
			block.setAttribute('dir', 'rtl');
			block.setAttribute('value', '');
			parent.appendChild(block);
		}
		function createOption(parent, id){
			var blockId = id + '_option';
			var parent = document.getElementById(parent);
			var block = document.createElement('div');
			block.setAttribute("id", blockId);
			block.setAttribute('class', 'cOptionDiv cBorder');
			parent.appendChild(block);
		}

		function getPathList(idClass){
			switch(idClass){
				case 'iImportPath':
					return importPathList;
				case 'iDataPath':
					return dataPathList;
				case 'iFolderPath':
					return folderPathList;
			}
		}
		function savePathList(idClass, pathList){
			switch(idClass){
				case 'iMainPath':
					importPathList = pathList;
					console.log('importPathList= '+importPathList);
					return;
				case 'iDataPath':
					dataPathList = pathList;
					console.log('dataPathList= '+dataPathList);
					return;
				case 'iFolderPath':
					folderPathList = pathList;
					console.log('folderPathList= '+folderPathList);
					return;
			}
		}
		function submit(){
			var allData = {
				fileName: '',
				folderName: '',
				optionList: [],
				mainPath: mainPath,
				importPathList: importPathList,
				dataPathList: dataPathList,
				folderPathList: folderPathList
			}

			allData.fileName = document.getElementById('iFileName').value;
			allData.folderName = document.getElementById('iFolderName').value;
			allData.optionList.push($("[name='oneFile']:checked").val());
			allData.optionList.push($("[name='clean']:checked").val());
			var jsonToPC = JSON.stringify(allData);
			console.log(jsonToPC);

		    var xmlhttp;
		    xmlhttp=new XMLHttpRequest();
		    xmlhttp.onreadystatechange=function(){
		        if (xmlhttp.readyState==4 && xmlhttp.status==200){}
		    }
		    xmlhttp.open("GET","/submit?data="+jsonToPC,true);
		    xmlhttp.send();
		}
	</script>
</head>

<body class="cBody">
<center>
	<div class="cBorder" style="width:650px; background-color:#FFF">
		<div id='mainDiv' class="cBorder">
			<div style='font-size:40px;font-weight:bolder;color:#F00'>PyInstaller GUI</div>
			<hr style="size:5px;width:95%;border-color:#000">
		</div>

		<div class='cPathBlock cBorder'>
			<div class="cItem cBorder">進階設定</div>
			<div id='iAdvanced_list' class='cListBlock cBorder'>
				<div class="cInfoInput cBorder" style='height:250px;width:95%;text-align:left;' id="iAdvanced_path">
					<div class="cAdvanced cBorder">&nbsp> 生成檔資料夾名稱:</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<input class='cAdvancedInput cBorder' type='text' id='iFolderName' placeholder="預設:PyInstaller"/>
					</div>

					<div class="cAdvanced cBorder">&nbsp> 生成單一執行檔?</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<input type="radio" name="oneFile" value='-F' checked="true"/>是
						<input type="radio" name="oneFile" value='' />否</div>

					<div class="cAdvanced cBorder">&nbsp> 清除上一次生成檔</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<input type="radio" name="clean" value='--clean' checked="true"/>是
						<input type="radio" name="clean" value='' />否</div>

					<div class="cAdvanced cBorder">&nbsp> 生成執行檔名稱:</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<input class='cAdvancedInput cBorder' type='text' id='iFileName' placeholder="預設與原檔名一樣"/>
					</div>

					<div class="cAdvanced cBorder">&nbsp> 自訂 icon:</div>
					<div class="cAdvanced cBorder" style="width:250px">
						<input class='cAdvancedInput cBorder' type='text' id='iFileName' placeholder=""/>
					</div>
				</div>
				<div id='iMainPath_option' class='cOptionDiv cBorder' style="width:0%"></div>
			</div>
		</div>

		<div class="cBorder" style="width:95%;margin:15px 0px;">
			<div class="cOK" onclick="submit()">執　行</div>
		</div> 
	</div>
</center>
</body>
</html>
